<div class="jumbotron" style="width: 70rem;">
  <div class="display-7">

    <h1>
      <%= @friend.frist_name %>
      <%= @friend.last_name %>
    </h1>
    <br/>

    <p>
      <strong>Email:</strong>
      <%= @friend.email %>
    </p>

    <p>
      <strong>Phone:</strong>
      <%= @friend.phone %>
    </p>

    <p>
      <strong>Twitter:</strong>
      <%= @friend.twitter %>
    </p>
    <br/>

    <%= link_to 'Edit', edit_friend_path(@friend), class: 'btn btn-secondary' %>
    <%= link_to 'Destroy', @friend,
            method: :delete,
            data: { confirm: 'Are you sure?' },
            class: 'btn btn-danger' %>
    <%= link_to 'Back', friends_path, class: 'btn btn-success' %>

  </div>
</div>

